.mod_show_header {
  background: #1E90FF;
  border:1px solid  #1E90FF;
  border-radius: 3px;
  opacity: 1;
  color: black;
  font-size: 15px !important;
  padding: 10px;
  height: 25vh;
  width: 40vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 3px 0 #1E90FF;
  /* justify-content: center; */
  align-items: center;
  justify-content: space-around;
  .but_modal {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    button {
      width: 50%;
      margin: 5px;
      cursor: pointer;
    }
  }
}

.input_main {
  width: 70%;
  padding: 3px;
  border: 1px solid black;
  background: white;
  cursor: pointer;
  border-radius: 3px;
}


.but_cancel, .but_pick{
  font-family: "FreeSans";
  border-radius: 3px;
  margin: 5px;
  border:1px solid #FFA500;
  background: #FFA500;
  color: #000;
  box-shadow: 0 0 3px 0 #FFA500;
  font-size: 15px;
  padding: 3px;
  cursor: pointer;
}

.but_cancel:after{
  content: "";
  position: relative;
  top: 5px;
  left: 5px;
  background-image: url("../../../assets/cansel.png");
  cursor: pointer;
  background-size: cover;
  width: 20px;
  height: 20px;
  z-index: 3;
  display: inline-block;
}
.but_pick:after{
  content: "";
  position: relative;
  top: 5px;
  left: 5px;
  background-image: url("../../../assets/done.png");
  cursor: pointer;
  background-size: cover;
  width: 20px;
  height: 20px;
  z-index: 3;
  display: inline-block;
}

