.modal {
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 190px;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(209, 209, 209);
  top: 20%;
  left: 40%;
  margin-right: -60%;
  border-radius: 3px;
  border: 1px solid #D1D1D1;
  box-shadow: 0 0 3px 0 #000000;

}
.input_main {
  width: 70%;
  padding: 3px;
  border: 1px solid black;
  background: white;
  cursor: pointer;
  border-radius: 3px;
}

.but_cancel{
  width: 110px;
}

.but_pick{
  width: 110px;
}


.show-time {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 100px;
}

button {
  width: 5%;
  border: solid 1px black;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35px;
}

.but_modal {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  width: 75%;
}

button:hover {
  cursor: pointer;
  color: white;
  border: solid 1px white;
}

.img_btn {
  width: 20px;
}
