<app-navbar></app-navbar>

<div class="main_container">
  <div class="but_del_add">
    <button type="button" class="action_button" (click)="addItem()">Додати</button>
  </div>

  <div *ngIf="showModal" class="modal">
    <div>
      <h3>Завантаження зображення</h3>

      <label class="file_upload">
        <span class="button">Обрати</span>
        <mark>{{fileName}}</mark>
        <input type="file" name="photo" ng2FileSelect [uploader]="uploader"/>
      </label>

      <select [(ngModel)]="idSelectSpeaker" class="input_main">
        <option value="null">Оберіть власника</option>
        <option *ngFor="let speaker of speakerList" [ngValue]="speaker.id">{{speaker.FIO}}</option>
      </select>


      <div class="but_modal_table">
        <button class="but_cancel" (click)="closeModal()">Відмінити</button>
        <button class="but_pick" (click)="saveItem()" [disabled]="!uploader.getNotUploadedItems().length">Завантажити
        </button>
      </div>

    </div>
  </div>


</div>
<div class="main">
  <div class="card" *ngFor="let item of itemData">
    <img class="img-card" [src]="item.image">
    <div class="middle">
      <button class="but_delete" (click)="deleteItem(item.id)">Видалити<img class="img_btn" src="../assets/del.png"
                                                                            alt=""></button>
    </div>
    <div class="card-footer">
      <p><b>Власник: {{item.FIO}}</b></p>
    </div>
  </div>
</div>
