header {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 675px;
  align-items: center;
  min-height: 50px;
  height: 100%;
  background: rgba(0, 96, 200, 0.76);
  font-size: 1.1em;
  box-shadow: 0 0 3px 0 #000000;
}

a {
  color: #ffffff;
  width: fit-content;
}

a:hover {
  color: #000000;
  text-decoration: none;
}

.active_link {
  border-bottom: solid 2px #ffffff;
  color: #000000;
}

nav {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;

  justify-items: start;
  align-items: center;
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(90px, 200px));
  grid-template-rows: repeat(auto-fit, 1fr);

  -ms-grid-columns: minmax(150px, 1fr) minmax(150px, 1fr);
  -ms-grid-rows: 1fr 1fr;
}

.btn_exit {
  display: flex;
  justify-content: center;
  width: 120px;
  color: white;
}
