<app-navbar></app-navbar>

<div class="main_container">
  <div class="buttom-navbar">
    <div class="but_del_add">
      <button type="button" class="action_button" (click)="deleteSelected()">Видалити</button>
      <button type="button" class="action_button" (click)="showModal()" [disabled]="emptySession">Додати</button>
    </div>
    <div class="info">{{currentConvocation}} - {{currentSession}}</div>
  </div>

  <div *ngIf="modalVisible" class="modal">
    <div class="modal_table">
      <h3>Виступаючий</h3>

      <input class="modal-input" placeholder="ПІБ" [(ngModel)]="formSpeaker.FIO" type="text" #valid_name>

      <!-- <div *ngIf="errorName" col-lg-12 col-md-6 class="errorMess">
         <p class="err">Name can not contain digits!</p>
       </div>-->


      <input class="modal-input" placeholder="Посада" [(ngModel)]="formSpeaker.post" type="text" #valid_lastName>

      <!--<div *ngIf="errorLastName" col-lg-12 col-md-6 class="errorMess">
        <p class="err">Name can not contain digits!</p>
      </div>-->


      <input class="modal-input" placeholder="Короткий опис" [(ngModel)]="formSpeaker.short_descriptions" id="patr" type="text"
             #vpatr>


      <div class="but_modal_table">
        <button class="but_cancel" (click)="closeModal()">Відмінити<img class="img_btn" src="../assets/cancel.png"
                                                                        alt=""></button>
        <button class="but_pick" (click)="saveItem()">Зберегти<img class="img_btn"
                                                                                              src="../assets/done.png"
                                                                                              alt=""></button>
      </div>
    </div>
  </div>

  <table class="table table-hover">
    <thead>
    <tr>
      <th class="checkbox-column"><label>
        <input class="checkbox" [(ngModel)]="allIsSelect" (change)="selectAll()" type="checkbox"
               aria-label="Обрати всiх">
        <span class="checkbox-custom"></span></label>
      <th>Прізвище Ім'я По батькові</th>
      <th>Посада</th>
      <th>Короткий опис</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of itemData">
      <th><label><input type="checkbox" class="checkbox" [(ngModel)]="item.checked"
                        aria-label="Обрати всiх">
        <span class="checkbox-custom"></span></label></th>
      <td>{{item.FIO}}</td>
      <td>{{item.post}}</td>
      <td>{{item.short_descriptions}}</td>
      <td (click)="changeSpeaker(item.id)"><img src="../../assets/change.png"></td>
    </tr>
    </tbody>
  </table>
</div>
<div id="snackbar">{{messageError}}</div>
