<app-navbar></app-navbar>

<div class="main_container">
  <div class="buttom-navbar">
    <div class="but_del_add">
      <button type="button" class="action_button" (click)="deleteSelected()">Видалити</button>
      <button type="button" class="action_button" (click)="showModal()" [disabled]="emptySession">Додати</button>
    </div>
    <div class="info">{{currentConvocation}} - {{currentSession}}</div>
  </div>

  <div *ngIf="modalVisible" class="modal" #modal>
    <div class="modal_table">
      <h3>Питання</h3>

      <input class="modal-input" placeholder="Питання" [(ngModel)]="formAsk.name" type="text">

      <textarea class="modal-input" placeholder="Повний опис" [(ngModel)]="formAsk.description" type="text"></textarea>

      <select [(ngModel)]="formAsk.id_user" class="input_main">
        <option value="null">Всі відповідають</option>
        <option *ngFor="let user of usersList" [ngValue]="user.id">{{user.fam}} {{user.imya}} {{user.otch}}</option>
      </select>


      <div class="but_modal_table">
        <button class="modal-btn but_cancel" (click)="closeModal()">Відмінити</button>
        <button class="modal-btn but_pick" (click)="saveItem()">Зберегти</button>
      </div>
    </div>
  </div>

  <table class="table table-hover" *ngIf="isSetQuestion">
    <thead>
    <tr>
      <th><label><input class="checkbox" (change)="selectAll()" type="checkbox"
                        aria-label="Checkbox for following text input">
        <span class="checkbox-custom"></span></label></th>
      <th>Питання</th>
      <th>Повний опис</th>
      <th>Той хто не відповідає</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let question of questionsArr">
      <th class="checkbox-column"><label><input type="checkbox" class="checkbox" [(ngModel)]="question.checked"
                                                aria-label="Checkbox for following text input">
        <span class="checkbox-custom"></span></label></th>
      <td>{{question.name}}</td>
      <td>{{question.description}}</td>
      <td>{{question.imya}} {{question.fam}} {{question.otch}}</td>
      <td (click)="changeQuestion(question.id)"><img src="../../assets/change.png"></td>
    </tr>
    </tbody>
  </table>
</div>

<div class="emptyState" *ngIf="isSetQuestion === false">Немає данних</div>
<div class="emptyState" *ngIf="isSetQuestion === null">Немає зв`язку</div>

<div id="snackbar">{{messageError}}</div>
