<app-navbar></app-navbar>

<div *ngIf="showTimeModal" class="show-time">
  <app-show-time></app-show-time>
</div>

<div *ngIf="showHeaderModal" class="show-time">

  <app-director></app-director>
</div>

<div class="container">
  <div class="but_del_add">
    <button type="button" class="action_button" (click)="deleteSelected()">Видалити</button>
    <button type="button" class="action_button" (click)="addItem()">Додати</button>
  </div>

  <div *ngIf="showModal" class="modal">
    <div class="modal_table">
      <h3>Data</h3>

      <input class="modal-input" placeholder="Питання" [(ngModel)]="ask" id="name" type="text" #valid_name>

      <!-- <div *ngIf="errorName" col-lg-12 col-md-6 class="errorMess">
         <p class="err">Name can not contain digits!</p>
       </div>-->


      <input class="modal-input" placeholder="Повний опис" [(ngModel)]="des" id="last-name" type="text" #valid_lastName>

      <!--<div *ngIf="errorLastName" col-lg-12 col-md-6 class="errorMess">
        <p class="err">Name can not contain digits!</p>
      </div>-->


      <input class="modal-input" placeholder="не відповідає на питання" [(ngModel)]="notuser" id="patr"
             type="text" #vpatr>


      <div class="but_modal_table">
        <button class="modal-btn but_cancel" (click)="closeModal()">Відмінити</button>
        <button class="modal-btn but_pick" (click)="saveItem(ask, des, notuser)">Додати</button>
      </div>
    </div>
  </div>

  <table class="table table-hover">
    <thead>
    <tr class="row">
      <th class="col-1"><label><input class="checkbox" [(ngModel)]="selectedAll" (change)="selectAll()" type="checkbox"
                                      aria-label="Checkbox for following text input">
        <span class="checkbox-custom"></span></label>
      <th class="col-4">Питання</th>
      <th class="col-4">Повний опис</th>
      <th class="col-3">Той хто не відповідає</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of itemData" class="row">
      <th class="col-1"><label><input type="checkbox" class="checkbox" [(ngModel)]="item.checked"
                                    aria-label="Checkbox for following text input">
        <span class="checkbox-custom"></span></label></th>
      <td class="col-4">{{item.ask}}</td>
      <td class="col-4">{{item.des}}</td>
      <td class="col-3">{{item.notuser}}</td>
    </tr>
    </tbody>
  </table>
</div>
