<app-navbar></app-navbar>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Налаштування</th>
    <th>Значення</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Скликання</td>
    <td>{{convocationItem.name}}</td>
    <td></td>
    <td>
      <div class="td-center">
        <button class="but_pick" (click)="showConvocationModal()">Закрити скликання</button>
      </div>
    </td>
  </tr>
  <tr>
    <td>Сесія</td>
    <td *ngIf="sessionItem !== false; else other">{{sessionItem.name}}</td>
    <ng-template #other>
      <td>Створіть сесію</td>
    </ng-template>
    <td *ngIf="sessionIsOpen === 1">Відкрита</td>
    <td *ngIf="sessionIsOpen === 0">Закрита</td>
    <td *ngIf="sessionIsOpen === -1"></td>

    <td>
      <div class="td-center">
        <button class="but_pick" (click)="showSessionModal()">Створити</button>
        <button *ngIf="sessionIsOpen === 0" class="but_pick" (click)="openLastSession()">Відкрити</button>
      </div>
    </td>
  </tr>
  <tr>
    <td>Головний скликання</td>
    <td *ngIf="mainUserItem != false; else unset2">{{mainUserItem.imya}} {{mainUserItem.fam}} {{mainUserItem.otch}}</td>
    <ng-template #unset2>
      <td>Оберіть головного скликання</td>
    </ng-template>
    <td></td>
    <td>
      <div class="td-center">
        <button class="but_pick" (click)="showLiderModal()">Обрати</button>
      </div>
    </td>
  </tr>
  <tr>
    <td>Час на голосування</td>
    <td>{{timeItem.time}} сек</td>
    <td></td>
    <td>
      <div class="td-center">
        <button class="but_pick" (click)="showTimeModal()">Змінити</button>
      </div>
    </td>
  </tr>
  </tbody>
</table>

<app-session></app-session>
<app-convocation></app-convocation>
<app-show-time></app-show-time>
<app-director></app-director>
